html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  // outline: none;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  // font-family: "Marck Script", cursive;
  background-color: #FFFFF5;
}

body.lock {
  overflow: hidden;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(#000, .30);
    width: 100%;
    height: 100%;
    z-index: 3;
  }
}

.container {
  max-width: 1250px;
  width: 100%;
  padding: 0px 30px;
  margin: 0 auto;
}

/*start breadcrumbs==========*/
.breadcrumbs {
  margin: 35px 0 35px;
  background-color: transparent;

  &__inner {
    padding: 10px 0px;
    overflow: hidden;
    width: 100%;
  }

  &__list {
    li {
      display: inline;
      position: relative;
      font-size: 16px;
      line-height: 120%;
      font-weight: 400;

      &+li {
        padding-left: 15px;

        &::before {
          content: ">";
          font-size: 16px;
          line-height: 125%;
          position: absolute;
          left: 2px;
          top: 1px;
          color: rgba(#3E3E3E, .6);
        }
      }

      a {
        color: rgba(#3E3E3E, .6);
        text-decoration: underline;
        text-decoration-color: transparent;
        transition: linear .2s;

        &:hover {
          text-decoration-color: rgba(#3E3E3E, .6);
        }
      }

      span {
        color: #3E3E3E;
      }
    }
  }
}

/*end breadcrumbs==========*/

/*start social===========*/
.social {
  display: flex;

  li+li {
    margin: 0 0 0 15px;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: #F7F7F8;
    border-radius: 50%;
    transition: linear .2s;
    &:hover{
      background-color: #75C6A5;
    }
  }
  svg path{
    transition: linear .2s;
  }
}
/*end social===========*/


/*start languege============*/
.header__languege {
  width: 76px;
}

.header__languege-child {
  padding: 5px;
  position: relative;
  cursor: pointer;

  * {
    color: #3e3e3e !important;
    font-size: 18px !important;
    font-weight: 500 !important;
    line-height: 120%;
  }

  &:hover {
    .header__languege-dropdown {
      z-index: 10;
      width: 100%;
      left: 0;
      top: 48px;
      padding: 0 0 0 5px;

      li {
        padding: 5px 0;
      }
      a{
        transition: linear .2s;
        &:hover{
          color: #75C6A5 !important;
        }
      }
    }

    .header__languege-dropdown-wrap {
      background-color: #fffff5;
      display: block;
      z-index: 10;
      width: 100%;
      left: 0;
      top: 39px;
      padding: 7px 0;
      border-radius: 0 0 5px 5px;
    }
  }

  &>span {
    line-height: 38px !important;
  }
}

.header__languege-dropdown-wrap {
  position: absolute;
  display: none;
}
/*end languege============*/

/*start sticker=====*/
.sticker {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -9px;
  padding: 2px 8px;
  color: #fffff5;
  font-size: 12px;
  font-weight: 400;
  line-height: 80%;
  border-radius: 50px;
  background-color: rgb(236, 187, 181);
  text-align: center;
  width: fit-content;
  height: 18px !important;
}
/*end sticker=====*/