@media (max-width: 1200px) {
  .header nav li+li {
    margin: 0px 0 0 15px;
  }

  .header nav a {
    font-size: 16px;
  }

  .shop-intro .swiper-button-prev {
    left: 30px;
  }

  .shop-intro .swiper-button-next {
    right: 30px;
  }

  .catalog__left {
    padding: 0 25px 0 0;
    max-width: 295px;
  }
}

@media (max-width: 992px) {

  .header__basket,
  .header__enter {
    font-size: 0;
    margin: 0 0 0 15px;

    svg {
      margin: 0;
    }
  }

  .header__mark {
    margin: 0;
  }

  .header__adress {
    margin: 0 0 0 15px;
  }

  .header__search {
    margin: 0;
  }

  .header__adress-box p,
  .header__adress-box span {
    font-size: 0;
  }

  .menu {
    height: calc(100vh - 140px);
    bottom: 0;
  }

  .info {
    padding: 30px 0 40px 0;
  }

  .info p {
    font-size: 16px;
  }

  .products__list .card {
    width: calc(50% - 30px);
    margin: 0 0 30px 30px;
  }

  .footer {
    padding: 30px 0 20px;
  }

  .footer__top,
  .footer__soc h5 {
    display: none;
  }

  .menu {
    .footer__top {
      display: flex;
    }
  }

  .footer__mid {
    margin: 0 0 25px 0;
  }

  .footer__mid-box {
    flex-direction: column;
  }

  .footer__mid a:nth-child(2) {
    margin: 20px 0 0 0;
  }

  .footer__mid a {
    font-size: 16px;
  }

  .footer__mid a:nth-child(2) {
    margin: 15px 0 0 0;
  }

  .footer__mid-img {
    margin: 0 5px 0 0;
  }

  .footer__soc ul li+li {
    margin: 0 0 0 5px;
  }

  .menu {
    padding: 15px 0 15px;
  }

  .menu h5 {
    font-size: 24px;
  }

  .menu .footer__top {
    flex-wrap: wrap;
    justify-content: flex-start;

    .footer__col {
      padding: 0 35px 0 0;
    }

    .footer__col:nth-child(2) {
      margin: 0;
    }
  }

  .header nav {
    display: none;
  }

  .header--main .header__menu-btn {
    display: block;
  }

  .preference__list {
    margin: 0 0 0 -30px;
  }

  .preference__list li {
    width: calc(50% - 30px);
    margin: 0 0 20px 30px;
  }

  .preference__list-img {
    width: 80px;
    height: 80px;
  }

  .catalog__inner {
    flex-direction: column;
  }

  .catalog__left {
    display: none;
  }

  .catalog__right {
    max-width: 100%;
  }

  .catalog .type-slider {
    display: block;
  }

  .productt__inner {
    flex-direction: column;
  }

  .productt__img {
    max-width: 310px;
    margin: 0 auto 30px;
    height: auto;
  }

  .productt__right {
    max-width: 100%;
  }

  .productt__right h3 {
    text-align: center;
  }

  .review__img {
    height: 65px;
  }

  .basket-full__item-col-inner {
    flex-wrap: wrap;
    align-items: flex-start;
  }


}

@media (max-width: 768px) {
  .main-box__inner {
    flex-direction: column;
  }

  .main-box__item {
    width: calc(100% - 30px);
    margin: 25px 0 0 30px;
  }

  .header--main .header__languege {
    width: 50px;
  }

  .main-img {
    padding: 0px 0 10px;
  }

  .main-img img {
    width: 135px;
  }

  .main-box__item {
    height: 450px;
  }

  .main-box h3 {
    font-size: 32px;
    margin: 0 0 15px 0;
  }

  .main-box .btn {
    margin: 0 0 20px 0;
  }

  .main-box__link {
    margin: 0 0 35px 0;
  }

  .main-box__content {
    padding: 95px 35px 85px;
    border-radius: 135px;
  }

  .main-box__content::after {
    top: 45px;
  }

  .catalog .cardd {
    width: calc(100% - 30px);
    margin: 0 0 45px 30px;
  }

  .catalog h2 {
    font-size: 32px;
  }

  .preference {
    padding: 5px 0 15px;
  }

  .catalog {
    padding: 15px 0 35px;
  }

  .products__filters {
    margin: 0 0 40px 0;
  }

  .cardd .sticker {
    font-size: 14px;
  }

  .cardd__img {
    height: 200px;
    padding: 20px;
    margin: 0 0 10px 0;
  }

  .cardd__img h4 {
    font-size: 18px;
  }

  .cardd__img span {
    font-size: 16px;
  }

  .cardd__bottom {
    flex-direction: column;
  }

  .cardd__calc-wrap {
    max-width: 100%;
    margin: 0 0 25px 0;
  }

  .basket-full .cardd__calc-wrap {
    margin: 0 15px 0 0;
  }

  .cardd__price {
    max-width: 100%;
  }

  .cardd p {
    margin: 0 0 15px 0;
  }

  .catalog .btn {
    max-width: 100%;
    width: 100%;
  }

  .delivery {
    padding: 30px 0 30px;
  }

  .delivery__inner {
    flex-direction: column;
    align-items: center;
  }

  .delivery__line-item {
    padding: 0 5%;
  }

  .delivery h3 {
    font-size: 32px;
    margin: 0 0 35px 0;
  }

  .delivery__line-item {
    font-size: 18px;
  }

  .delivery__left {
    max-width: 250px;
    margin: 0 auto;
  }

  .delivery__mid {
    max-width: 310px;
    margin: 30px 0;
  }

  .delivery p {
    font-size: 18px;
  }

  .delivery span {
    font-size: 16px;
  }

  .delivery__item {
    margin: 0 0 20px 0;
  }

  .productt {
    padding: 15px 0 40px;
  }

  .productt__right h3 {
    margin: 0 0 5px 0;
    font-size: 48px;
  }

  .productt__stickers-wrap li:nth-child(2) {
    order: 1;
  }

  .productt__buttons {
    flex-direction: column;
  }

  .productt__btn {
    width: 100%;
    font-size: 18px;
  }

  .productt__buttons {
    margin: 0 0 15px 0;
  }

  .productt .cardd__bottom {
    flex-direction: row;
  }

  .productt .cardd__bottom .cardd__calc-wrap {
    margin: 0 15px 0 0;
  }

  .recomendation h3 {
    font-size: 32px;
    margin: 0 0 45px 0;
  }

  .recomendation {
    padding: 30px 0 130px;
  }

  .review__inner {
    flex-direction: column;
  }

  .review__right {
    max-width: 100%;
  }

  .review {
    padding: 20px 0 30px;
  }

  .review__user {
    width: 65px;
    height: 65px;
    border-radius: 20px;
    margin: 0 0 10px 0;
  }

  .review__user-name {
    font-size: 18px;
    margin: 0 0 10px 0;
  }

  .review__content {
    padding: 0;
  }

  .review__slider p {
    font-size: 16px;
  }

  .review__right h6 {
    font-size: 32px;
  }

  .review__slider {
    padding: 0 0 100px 0;
  }

  .swiper-button-next {
    top: auto;
    bottom: 50px;
    position: absolute;
    right: calc(50% - 50px);
  }

  .swiper-button-prev {
    top: auto;
    bottom: 50px;
    position: absolute;
    left: calc(50% - 50px);
  }

  .review__imgs {
    margin: 0 0 0 -10px;
  }

  .review__img {
    margin: 0 0 15px 10px;
    width: calc(33.33333% - 10px);
    height: 120px;
  }

  .review__right {
    margin: 20px 0 20px;
  }

  .review__right p {
    font-size: 18px;
  }

  .review__right .rateYo-choice {
    margin: 0 auto 20px;
  }

  .form__box {
    padding: 0;
  }

  .review .rateYo {
    zoom: .7;
    margin: 0 0 50px 0;
  }

  .basket-full__item {
    flex-direction: column;
  }

  .basket-full__item-col:nth-child(3) {
    order: -1;
    margin: 0 0 25px auto;
  }

  .basket-full .cardd__calc-wrap {
    width: 140px;
  }

  .basket-full__item {
    padding: 15px 25px;
  }

  .basket-full__close {
    margin: 0 0 0 10px;
    width: 25px;
    height: 25px;
  }

  .basket-full__img {
    width: 75px;
    height: 90px;
    margin: 0 25px 0 0;
  }

  .basket-full h6 {
    margin: 0 65px 10px 0;
  }

  .basket-full__weight,
  .basket-full__cost {
    font-size: 16px;
  }

  .basket-full__cost-two {
    margin: 0;
  }

  .basket-full__item-col:nth-child(2) {
    margin: 15px 0 0 0;
  }

  .basket-full__commit svg {
    width: 22px;
    height: 22px;
  }

  .basket-full {
    padding: 30px 0 20px;
  }

  .form--center {
    text-align: center;
  }

  .form__box-wrap {
    flex-direction: column;
    margin: 0;
  }

  .form__box-wrap .form__input-wrap {
    width: 100%;
    margin: 20px 0 0 0;

    input {
      max-width: 100%;
    }
  }

  .form__day,
  .form__clock {
    padding: 0 20px;
  }

  .form h3+p {
    font-size: 18px;
  }

  .form__day span,
  .form__clock span {
    width: 100%;
    text-align: left;
  }

  .form__show {
    margin: 20px auto 0 0;
    width: fit-content;
    display: flex;
  }

  .form--center {
    .form__input-wrap {
      margin: 20px 0 25px 0;
    }
  }

  .form__input-wrap--adress {
    input {
      padding: 20px 15px 100px 45px !important;
      height: 125px;
      font-size: 18px;

      &::placeholder {
        font-size: 18px;
      }
    }
  }

  .form__input-wrap--adress a.btn {
    left: 15px;
    right: 15px;
    top: auto;
    transform: translateY(0);
    bottom: 15px;
    width: 100%;
    max-width: 90%;
  }

  .form__input-wrap--adress::after {
    top: 20px;
  }

  .form__input-wrap--adress {
    margin: 0 0 30px 0;
  }

  .fake {
    width: 25px;
    height: 25px;
  }

  .text {
    font-size: 18px;
  }

  .form__radio {
    margin: 0 0 25px 0;
  }
  .form__politic{
    text-align: center !important;
  }


}

@media (max-width: 576px) {
  .header__inner {
    flex-wrap: wrap;
  }

  .header__search {
    margin: 5px 0 0 0;
    order: 1;
    max-width: 100%;
  }

  .header__logo {
    width: 50px;
  }

  .header__menu-btn {
    margin: 0 10px 0 0;
  }

  .header__adress {
    margin: 0 0 0 auto;
  }

  .header__inner {
    margin: 20px 0 0 0;
    height: 120px;
  }

  .breadcrumbs {
    margin: 25px 0 15px;
  }

  .swiper-button-next,
  .swiper-button-prev,
  .type-slider::after,
  .type-slider::before {
    display: none;
  }

  .type-slider {
    padding: 0;
    margin: 0px 0 40px;
    height: fit-content;
  }

  .type-slider button {
    font-size: 18px;
    padding: 0 10px;
    height: 30px;

    svg {
      width: 15px;
      height: 15px;
    }
  }

  .products__filters-two {
    font-size: 0;
  }

  .products__filter .select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 16px;
  }

  .products__filter img {
    margin: 0;
  }

  .products__list {
    flex-wrap: nowrap;
  }

  .products__list .card {
    margin: 0;
  }

  .products {
    overflow: hidden;

    .card {
      min-height: 335px;
    }
  }

  .products .mySwiper {
    margin: 0;
    overflow: visible;
  }

  .card h3 {
    font-size: 32px;
    margin: 0 0 5px 0;
  }

  .pagination {
    margin: 25px 0 0 0;
  }

  .pagination a,
  .pagination span {
    width: 32px;
    height: 32px;
  }

  .pagination li+li {
    margin-left: 15px;
  }

  .info__text {
    margin: 0 0 15px 0;
    -ms-line-clamp: 5;
    -webkit-line-clamp: 5;
    line-clamp: 5;
  }

  .menu {
    top: 140px;
    min-height: auto;

    .header__languege-child {
      display: none;
    }
  }

  .shop-intro .swiper-button-prev,
  .shop-intro .swiper-button-next {
    display: none;
  }

  .shop-intro h3 {
    margin: 0;
  }

  .productt__slider .swiper-slide,
  .productt__slider-two .swiper-slide {
    flex-direction: column;
  }

  .productt {
    overflow: hidden;
  }

  .productt__right {
    overflow: visible;
  }

  .productt__slider-img {
    margin: 0 0 10px 0;
    height: 50px;
    width: 50px;
  }

  .productt__slider .swiper-slide,
  .productt__slider-two .swiper-slide {
    padding: 15px;
  }

  .productt__slider-calc {
    margin: 0;
    width: 100%;
  }

  .productt__slider .cardd__calc-wrap,
  .productt__slider-two .cardd__calc-wrap {
    width: 100%;
  }

  .page-error__img svg {
    width: 40px;
    height: 40px;
  }

  .link-back__page {
    padding: 45px 0 15px;
  }

  .page-error__img {
    margin: 0 0 15px 0;
  }

  .page-error__inner {
    padding: 25px 0;
  }

  .page-error p {
    font-size: 32px;
  }

  .page-error span {
    font-size: 18px;
    margin: 0 0 15px 0;
  }

  .bascet-box svg {
    width: 80px;
    height: 80px;
  }

  .bascet-box p {
    font-size: 18px;
  }

  .bascet-box__inner {
    padding: 25px;
  }

  .bascet-box {
    margin: 20px 0 35px;
  }

  .recomendation__top {
    flex-direction: column;
  }

  .recomendation__top h3 {
    margin: 0 0 20px 0 !important;
  }

  .form h3 {
    max-width: 300px;
    margin: 0 auto 20px;
    font-size: 32px;
    text-align: center;
  }

  .form__item:nth-child(4) {
    margin: 0 0 50px 0;
    flex-direction: column;
    text-align: center;

    p {
      margin: 0 0 20px 0;
    }
  }

  .form h4 {
    font-size: 32px;
    text-align: center;
    margin: 45px 0 35px;
  }

  .form__item span {
    font-size: 18px;
  }

  .form__item strong {
    font-size: 18px;
  }

  .form__item {
    color: #3e3e3e;
    margin: 0 0 25px 0;
  }

  .form__item-pay strong {
    font-size: 18px;
  }

  .form__item-pay {
    margin: 15px 0 10px;
    padding: 10px;
  }

  .form__sum-pay {
    font-size: 18px;
  }

  .form__item-pay+.btn {
    max-width: 100%;
    width: 100%;
  }
  .done-cash__inner{
    padding: 15px 25px;
  }

  .done-cash__user{
    font-size: 32px;
    margin: 0 0 15px 0;
  }
  .done-cash p{
    font-size: 16px;
    margin: 0 0 30px 0;
  }
  .done-cash p a{
    display: block;
    font-size: 16px;
  }
  .done-cash__info{
    flex-wrap: wrap;
  }
  .done-cash__num{
    margin: 0 0 20px 0;
    width: 100%;
  }
  .done-cash__date,
  .done-cash__info,
  .done-cash__clock{
    font-size: 18px;
  }
  
}
