@media (max-width: 1250px) {
  .blog-intro .swiper-button-next {
    left: 100px;
  }

  .blog-intro .swiper-button-prev {
    left: 30px;
  }
}

@media (max-width: 1200px) {
  .header nav li+li {
    margin: 0px 0 0 15px;
  }

  .header nav a {
    font-size: 16px;
  }

  .shop-intro .swiper-button-prev {
    left: 30px;
  }

  .shop-intro .swiper-button-next {
    right: 30px;
  }

  .catalog__left {
    padding: 0 25px 0 0;
    max-width: 295px;
  }

  .page-404 {
    min-height: 855px;
  }

  .category-list__name,
  .category-list__title {
    padding: 15px 10px 15px 15px;
  }

  .menu-page__left {
    max-width: 295px;
  }

  .menu-page__right-menu {
    width: 100%;
    margin: 0 0 25px 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #3e3e3e;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    height: 45px;
    border: 1px solid rgb(97, 178, 145);
    border-radius: 12px;

  }

  .menu-page__left {
    padding: 65px 30px 25px;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    max-width: 375px;
    height: 100vh;
    z-index: 9999;
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transform: translateX(-100vw);
    transition: transform .3s;
    overflow: auto;
    background-color: #FFFFF5;
    box-shadow: 2px 0px 6px -4px rgba(0, 0, 0, 0.75);
  }

  .menu-page__left.open {
    transform: translateX(0);
  }

  .menu-page__left blockquote {
    display: none;
  }

  .menu-page__left-title {
    font-size: 0;
    width: 100%;
    background-color: transparent;

    span {
      width: 100%;
      display: block;
      color: #3e3e3e;
      font-family: "Marck Script", cursive;
      font-size: 32px;
      font-weight: 400;
      line-height: 100%;
      text-align: center;
    }
  }

  .menu-page__left .btn {
    margin: 30px 0 0 0;
    display: flex;
    width: 100%;
  }

  .menu-page__right {
    max-width: 100%;
    width: 100%;
  }

  .menu-page__left-close {
    padding: 0;
    display: block;
    width: 30px;
    height: 30px;
    margin: -40px 0 40px auto;

    img {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  }

  .category-list__chek {
    padding: 15px 10px 15px 15px;
  }

  .category-list__chek {
    padding: 10px 10px 10px 15px;
    font-size: 16px;
  }

  .gallery__box {
    grid-template-rows: repeat(6, 235px);
    height: 1040px;
  }

  .catering-intro {
    padding: 0 30px 80px;
  }

  .catering-intro__slider .swiper-wrapper {
    margin: 0;
  }

  .method__img {
    max-width: 110px;
  }

  .contacts__top h1 {
    font-size: 40px;
  }

  .contacts__top-img {
    width: 300px;
    height: 300px;
  }



}

@media (max-width: 992px) {

  .header__basket,
  .header__enter {
    font-size: 0;
    margin: 0 0 0 15px;

    svg {
      margin: 0;
    }
  }

  .header__mark {
    margin: 0;
  }

  .header__adress {
    margin: 0 0 0 15px;
  }

  .header__search {
    margin: 0;
  }

  .header__adress-box p,
  .header__adress-box span {
    font-size: 0;
  }

  .menu {
    height: calc(100vh - 140px);
    bottom: 0;
  }

  .info {
    padding: 30px 0 40px 0;
  }

  .info p {
    font-size: 16px;
  }

  .products__list .card {
    width: calc(50% - 30px);
    margin: 0 0 30px 30px;
  }

  .footer {
    padding: 30px 0 20px;
  }

  .footer__top,
  .footer__soc h5 {
    display: none;
  }

  .menu {
    .footer__top {
      display: flex;
    }
  }

  .footer__mid {
    margin: 0 0 25px 0;
  }

  .footer__mid-box {
    flex-direction: column;
  }


  .footer__mid a {
    font-size: 16px;
  }

  .footer__mid a:nth-child(2) {
    margin: 15px 0 0 0;
  }
  .footer__mid a:nth-child(3) {
    margin: 15px 0 0 0;
  }

  .footer__mid-img {
    margin: 0 5px 0 0;
  }

  .footer__soc ul li+li {
    margin: 0 0 0 5px;
  }

  .menu {
    padding: 15px 0 15px;
  }

  .menu h5 {
    font-size: 24px;
  }

  .menu .footer__top {
    flex-wrap: wrap;
    justify-content: flex-start;

    .footer__col {
      padding: 0 35px 0 0;
    }

    .footer__col:nth-child(2) {
      margin: 0;
    }
  }

  .header nav {
    display: none;
  }

  .header--main .header__menu-btn {
    display: block;
  }

  .preference__list {
    margin: 0 0 0 -30px;
  }

  .preference__list li {
    width: calc(50% - 30px);
    margin: 0 0 20px 30px;
  }

  .preference__list-img {
    width: 80px;
    height: 80px;
  }

  .catalog__inner {
    flex-direction: column;
  }

  .catalog__left {
    display: none;
  }

  .catalog__right {
    max-width: 100%;
  }

  .catalog .type-slider {
    display: block;
  }

  .productt__inner {
    flex-direction: column;
  }

  .productt__img {
    max-width: 310px;
    margin: 0 auto 30px;
    height: auto;
  }

  .productt__right {
    max-width: 100%;
  }

  .productt__right h3 {
    text-align: center;
  }

  .review__img {
    height: 65px;
  }

  .basket-full__item-col-inner {
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .checkout__inner {
    flex-direction: column;
  }

  .checkout__left,
  .checkout__right {
    margin: 0 0 30px 0;
    max-width: 100%;
  }

  .page-404 {
    min-height: 115vh;
  }

  .page-404 p {
    font-size: 18px;
  }

  .articl h4 {
    font-size: 18px;
    line-height: 120%;
  }

  .blog-types__list .articl {
    width: calc(50% - 30px);
    margin: 0 0 25px 30px;
  }

  .restaurant-top__inner {
    flex-direction: column;
  }

  .restaurant-top__left,
  .restaurant-top__right {
    width: 100%;
    padding: 0;
    text-align: center;
  }

  .restaurant-top__left {
    margin: 0 0 25px 0;
  }

  .restaurant-top__btns {
    a {
      width: 100%;
    }
  }

  .gallery__box {
    grid-template-rows: repeat(6, 200px);
    height: 900px;
  }

  .catering-intro__slider .swiper-slide {
    height: 310px;
  }

  .catering-events__item {
    width: calc(50% - 30px);
  }

  .method__inner {
    flex-wrap: wrap;
  }

  .method__item {

    max-width: calc(50% - 30px);
  }

  .method__content {
    padding: 80px 50px;
  }



}

@media (max-width: 768px) {
  .main-box__inner {
    flex-direction: column;
  }

  .main-box__item {
    width: calc(100% - 30px);
    margin: 25px 0 0 30px;
  }

  .header--main .header__languege {
    width: 50px;
  }

  .main-img {
    padding: 0px 0 10px;
  }

  .main-img img {
    width: 135px;
  }

  .main-box__item {
    height: 450px;
  }

  .main-box h3 {
    font-size: 32px;
    margin: 0 0 15px 0;
  }

  .main-box .btn {
    margin: 0 0 20px 0;
  }

  .main-box__link {
    margin: 0 0 35px 0;
  }

  .main-box__content {
    padding: 95px 35px 85px;
    border-radius: 135px;
  }

  .main-box__content::after {
    top: 45px;
  }

  .catalog .cardd {
    width: calc(100% - 30px);
    margin: 0 0 45px 30px;
  }

  .catalog h2 {
    font-size: 32px;
  }

  .preference {
    padding: 5px 0 15px;
  }

  .catalog {
    padding: 15px 0 35px;
  }

  .products__filters {
    margin: 0 0 40px 0;
  }

  .cardd .sticker {
    font-size: 14px;
  }

  .cardd__img {
    height: 200px;
    padding: 20px;
    margin: 0 0 10px 0;
  }

  .cardd__img h4 {
    font-size: 18px;
  }

  .cardd__img span {
    font-size: 16px;
  }

  .cardd__bottom {
    flex-direction: column;
  }

  .cardd__calc-wrap {
    max-width: 100%;
    margin: 0 0 25px 0;
  }

  .basket-full .cardd__calc-wrap {
    margin: 0 15px 0 0;
  }

  .cardd__price {
    max-width: 100%;
  }

  .cardd p {
    margin: 0 0 15px 0;
  }

  .catalog .btn {
    max-width: 100%;
    width: 100%;
  }

  .delivery {
    padding: 30px 0 30px;
  }

  .delivery__inner {
    flex-direction: column;
    align-items: center;
  }

  .delivery__line-item {
    padding: 0 5%;
  }

  .delivery h3 {
    font-size: 32px;
    margin: 0 0 35px 0;
  }

  .delivery__line-item {
    font-size: 18px;
  }

  .delivery__left {
    max-width: 250px;
    margin: 0 auto;
  }

  .delivery__mid {
    max-width: 310px;
    margin: 30px 0;
  }

  .delivery p {
    font-size: 18px;
  }

  .delivery span {
    font-size: 16px;
  }

  .delivery__item {
    margin: 0 0 20px 0;
  }

  .productt {
    padding: 15px 0 40px;
  }

  .productt__right h3 {
    margin: 0 0 5px 0;
    font-size: 48px;
  }

  .productt__stickers-wrap li:nth-child(2) {
    order: 1;
  }

  .productt__buttons {
    flex-direction: column;
  }

  .productt__btn {
    width: 100%;
    font-size: 18px;
  }

  .productt__buttons {
    margin: 0 0 15px 0;
  }

  .productt .cardd__bottom {
    flex-direction: row;
  }

  .productt .cardd__bottom .cardd__calc-wrap {
    margin: 0 15px 0 0;
  }

  .recomendation h3 {
    font-size: 32px;
    margin: 0 0 45px 0;
  }

  .recomendation {
    padding: 30px 0 130px;
  }

  .review__inner {
    flex-direction: column;
  }

  .review__right {
    max-width: 100%;
  }

  .review {
    padding: 20px 0 30px;
  }

  .review__user {
    width: 65px;
    height: 65px;
    border-radius: 20px;
    margin: 0 0 10px 0;
  }

  .review__user-name {
    font-size: 18px;
    margin: 0 0 10px 0;
  }

  .review__content {
    padding: 0;
  }

  .review__slider p {
    font-size: 16px;
  }

  .review__right h6 {
    font-size: 32px;
  }

  .review__slider {
    padding: 0 0 100px 0;
  }

  .review .swiper-button-next {
    top: auto;
    bottom: 50px;
    position: absolute;
    right: calc(50% - 50px);
  }

  .review .swiper-button-prev {
    top: auto;
    bottom: 50px;
    position: absolute;
    left: calc(50% - 50px);
  }

  .review__imgs {
    margin: 0 0 0 -10px;
  }

  .review__img {
    margin: 0 0 15px 10px;
    width: calc(33.33333% - 10px);
    height: 120px;
  }

  .review__right {
    margin: 20px 0 20px;
  }

  .review__right p {
    font-size: 18px;
  }

  .review__right .rateYo-choice {
    margin: 0 auto 20px;
  }

  .form__box {
    padding: 0;
  }

  .review .rateYo {
    zoom: .7;
    margin: 0 0 50px 0;
  }

  .basket-full__item {
    flex-direction: column;
  }

  .basket-full__item-col:nth-child(3) {
    order: -1;
    margin: 0 0 25px auto;
  }

  .basket-full .cardd__calc-wrap {
    width: 140px;
  }

  .basket-full__item {
    padding: 15px 25px;
  }

  .basket-full__close {
    margin: 0 0 0 10px;
    width: 25px;
    height: 25px;
  }

  .basket-full__img {
    width: 75px;
    height: 90px;
    margin: 0 25px 0 0;
  }

  .basket-full h6 {
    margin: 0 65px 10px 0;
  }

  .basket-full__weight,
  .basket-full__cost {
    font-size: 16px;
  }

  .basket-full__cost-two {
    margin: 0;
  }

  .basket-full__item-col:nth-child(2) {
    margin: 15px 0 0 0;
  }

  .basket-full__commit svg {
    width: 22px;
    height: 22px;
  }

  .basket-full {
    padding: 30px 0 20px;
  }

  .form--center {
    text-align: center;
  }

  .form__box-wrap {
    flex-direction: column;
    margin: 0;
  }

  .form__box-wrap .form__input-wrap {
    width: 100%;
    margin: 20px 0 0 0;

    input {
      max-width: 100%;
    }
  }

  .form__day,
  .form__clock {
    padding: 0 20px;
  }

  .form h3+p {
    font-size: 18px;
  }

  .form__day span,
  .form__clock span {
    width: 100%;
    text-align: left;
  }

  .form__show {
    margin: 20px auto 0 0;
    width: fit-content;
    display: flex;
  }

  .form--center {
    .form__input-wrap {
      margin: 20px 0 25px 0;
    }
  }

  .form__input-wrap--adress {
    input {
      padding: 20px 15px 100px 45px !important;
      height: 125px;
      font-size: 18px;

      &::placeholder {
        font-size: 18px;
      }
    }
  }

  .form__input-wrap--adress a.btn {
    left: 15px;
    right: 15px;
    top: auto;
    transform: translateY(0);
    bottom: 15px;
    width: 100%;
    max-width: 90%;
  }

  .form__input-wrap--adress::after {
    top: 20px;
  }

  .form__input-wrap--adress {
    margin: 0 0 30px 0;
  }

  .fake {
    width: 25px;
    height: 25px;
  }

  .text {
    font-size: 18px;
  }

  .form__radio {
    margin: 0 0 25px 0;
  }

  .form__politic {
    text-align: center !important;
  }

  .carddd-wrap .carddd {
    margin: 0 0 25px 30px;
    width: calc(100% - 30px);
  }

  .menu-page__show {
    width: fit-content;
    margin: 0 auto;
    padding: 10px 15px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3e3e3e;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    text-align: center;
    border: 1px solid rgb(97, 178, 145);
    border-radius: 12px;
  }

  .category-list__name,
  .category-list__title {
    font-size: 18px;
  }

  .category-list {
    max-width: 270px;
    margin: 0 auto;
  }

  .menu-page__left-title {
    margin: 0 0 15px 0;
  }

  .blog {
    padding: 0 0 30px 0;
  }

  .blog__time {
    margin: 0 auto 15px;
  }

  .blog__info {
    flex-wrap: wrap;
    justify-content: center;
  }

  .blog__info span {
    margin: 0 15px 0 0;
  }

  .blog__info h2 {
    margin: 0 0 15px 0;
    width: 100%;
    text-align: center;
  }

  .blog__date {
    text-align: center;
    margin: 10px 0 0 0;
  }

  .blog__inner>p {
    margin: 0 0 25px 0;
    font-size: 16px;
  }

  .blog__md-img {
    flex-direction: column;
  }

  .blog__md-img+.blog__info {
    justify-content: flex-end;
  }

  .blog__md-img img {
    border-radius: 20px;
    width: calc(100% - 30px);
  }

  .blog-info__top {
    flex-direction: column;
    text-align: center;
  }

  .blog-info__top h3 {
    margin: 0 0 30px 0;
    font-size: 32px;
    line-height: 100%;
  }

  .blog-info {
    padding: 15px 0 45px;
  }

  .articl {
    padding: 15px 0 15px;
  }

  .articl__time {
    font-size: 14px;

    img {
      width: 14px;
      height: 14px;
    }
  }

  .articl>a {
    width: 30px;
    height: 30px;
  }

  .articl__inner {
    padding: 0 0 30px 0;
  }

  .blog__sm-img img {
    width: calc(100% - 30px);
  }

  .blog__box {
    flex-direction: column;

    h3 {
      margin: 0 0 15px 0;
    }
  }

  .blog__box-item {
    width: calc(100% - 30px);
  }

  .blog h3 {
    font-size: 32px;
  }

  .blog__box-line strong {
    font-size: 18px;
  }

  .blog__box-line span {
    font-size: 18px;
  }

  .blog__box-line {
    padding: 8px 0;
    margin: 0 0 8px 0;
  }

  .blog__secrets blockquote {
    display: none;
  }

  .blog__secrets-box {
    margin: 0;
  }

  .blog__secrets-box span {
    width: 100%;
    font-size: 16px;
    height: 38px;
    text-align: center;
    margin: 0 0 17px 0;
  }

  .blog__secrets-box li {
    margin: 0 0 25px 0;
    font-size: 16px;
    line-height: 120%;
  }

  .blog__step {
    flex-direction: column;
    align-items: flex-start;
  }

  .blog__step span {
    margin: 0 0 20px 0;
  }

  .blog-intro .blog__time {
    margin: 0 0 10px 0;
    font-size: 14px;
    padding: 5px 10px;
  }

  .blog-intro h3 {
    font-size: 48px;
    margin: 0 0 10px 0;
  }

  .blog-intro .swiper-slide {
    padding: 50px 0 185px;
  }

  .blog-intro p {
    font-size: 16px;
    margin: 0 0 25px 0;
  }

  .slider-btn {
    width: 40px;
    height: 40px;

    span {
      width: 30px;
      height: 30px;
    }

    svg {
      width: 16px;
      height: 12px;
    }
  }

  .blog-types {
    padding: 50px 0 45px;
  }

  .blog-types__links {
    justify-content: flex-start;
    margin: 0 0 20px 0;
  }

  .blog-types__links a {
    font-size: 18px;
    height: 30px;
  }

  .blog-types__links li {
    margin: 10px 5px 0 0;
  }

  .restaurant-links__inner {
    flex-direction: column;
  }

  .restaurant-links__inner {
    margin: 0;
  }

  .restaurant-links__link {
    margin: 0 0 50px 0;
    width: 100%;
  }

  .restaurant-top h1 {
    font-size: 48px;
  }

  .restaurant-top p {
    font-size: 16px;
  }

  .restaurant-top__btns {
    flex-direction: column;
  }

  .restaurant-top .btn {
    margin: 0 0 15px 0;
  }

  .restaurant-top {
    padding: 60px 0 20px;
  }

  .restaurant-intro__slider .swiper-slide {
    height: 550px;
  }

  .restaurant-about h3 {
    font-size: 32px;
    margin: 0 0 15px 0;
  }

  .restaurant-about p {
    font-size: 16px;
    margin: 0 auto 20px;
  }

  .restaurant-about .btn {
    margin: 0 auto 30px;
  }

  .restaurant-about {
    padding: 10px 0 45px;
  }

  .delivery--restaurant {
    .delivery__line-item {
      font-size: 24px;
      width: 100%;
    }
  }

  .delivery__left {
    max-width: 320px;
  }

  .book h3 {
    font-size: 32px;
  }

  .book p {
    font-size: 16px;
    margin: 0 0 20px 0;
  }

  .form__boxx {
    flex-direction: column;

    .btn {
      margin: 0;
      max-width: 100%;
    }

    .form__input-wrap {
      margin: 0 0 10px 0;
    }
  }

  .btn {
    height: 45px !important;
  }

  .preference h3 {
    font-size: 32px;
    margin: 0 0 35px 0;
  }

  .book {
    padding: 30px 0 60px;
  }

  .restaurant-links h3 {
    margin: 0 0 30px 0;
  }

  .restaurant-links__content {
    padding: 20px 30px;
    font-size: 18px;
    height: 70px;
  }

  .restaurant-links__content:after {
    top: 8px;
    left: 8px;
    bottom: 8px;
    right: 8px;
    height: calc(100% - 16px);
    width: calc(100% - 16px);
  }

  .restaurant-info h3 {
    font-size: 32px;
    margin: 0 0 35px 0;
  }

  .restaurant-links {
    padding: 0 0 20px;
  }

  .restaurant-info {
    padding: 30px 0 10px;
  }

  .restaurant-info li::after {
    width: 21px;
    height: 21px;
  }

  .restaurant-info li {
    font-size: 16px;
    padding: 0 0 0 40px;
    margin: 0 0 20px 0;
  }

  .restaurant-info__btns {
    flex-direction: column;
  }

  .restaurant-info__inner {
    flex-direction: column;
  }

  .restaurant-info__btns .btn {
    width: 100%;
    margin: 0 0 15px 0;
  }

  .restaurant-info__left {
    max-width: 100%;
    margin: 0 0 15px 0;
  }

  .restaurant-info__right {
    width: auto;
    max-width: auto;
  }

  .gallery__box {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .gallery__item {
    height: 310px;
    border-radius: 30px !important;
  }

  .gallery {
    padding: 20px 0 45px;
  }

  .gallery h3 {
    font-size: 48px;
  }

  .gallery p {
    font-size: 16px;
  }

  .gallery__link {
    font-size: 16px;
  }

  .serv__inner {
    flex-direction: column;
    margin: 0;
  }

  .serv__coll {
    margin: 0 0 30px 0;
    width: 100%;
  }

  .serv__coll:nth-child(2) {
    max-width: 375px;
    margin: 0 auto 30px;
  }

  .serv__coll:last-child {
    .serv__item:last-child {
      margin: 0;
    }
  }

  .catering-top h3 {
    font-size: 48px;
    margin: 0 0 15px 0;
  }

  .catering-top p {
    font-size: 16px;
  }

  .catering-top {
    padding: 0 0 30px 0;
  }

  .catering-events__item {
    width: calc(100% - 30px);
    height: 165px;
  }

  .catering-events {
    padding: 40px 0 20px;
  }

  .catering-events h4 {
    font-size: 32px;
    margin: 0 0 10px 0;
  }

  .catering-slider h3 {
    font-size: 32px;
    margin: 0 0 20px 0;
  }

  .catering-slider p {
    font-size: 16px;
  }

  .catering-slider {
    padding: 20px 0 70px;
  }

  .catering-slider__swiper {
    margin: 25px 0 0 0;
  }

  .catering-slider__swiper .swiper-slide {
    height: 310px;
  }

  .serv__item h3 {
    font-size: 32px;
    margin: 0 0 20px 0;
  }

  .serv__item p {
    font-size: 16px;
  }

  .serv {
    padding: 55px 0 30px;
  }

  .about-intro__item {
    padding: 100px 40px 70px;
    max-width: 310px;
  }

  .about-intro__item::before {
    background-image: url('../images/dest/content/about-introItem2.png');

  }

  .about-intro {
    margin: 0 0 70px 0;
  }

  .about-intro h1 {
    font-size: 32px;
  }

  .about-intro p {
    font-size: 16px;
  }

  .about-intro__btns {
    margin: 25px 0 0 0;
    flex-direction: column;

    .btn {
      margin: 0 0 15px 0;
      width: 100%;
    }
  }

  .about-intro {
    padding: 30px 0;
  }

  .team h3 {
    margin: 0 0 40px 0;
    font-size: 32px;
  }

  .team__sticker {
    font-size: 14px;
  }

  .team h4 {
    font-size: 18px;
  }

  .team {
    padding: 0 0 110px 0;
  }

  .about-us-info h3 {
    font-size: 48px;
    margin: 0 0 15px 0;
  }

  .about-us-info p,
  .about-us-content p {
    font-size: 16px;
  }

  .about-us-info {
    padding: 0 0 30px 0;
  }

  .preference {
    padding: 55px 0 15px;
  }

  .about-us-content h3,
  .about-us-info h3 {
    font-size: 32px;
  }

  .about-us-info--sm {
    padding: 50px 0 60px;
  }

  .method__inner {
    flex-direction: column;
  }

  .method__item {
    margin: 0 0 30px 0;
    max-width: 100%;
  }

  .delibvery-box__item {
    width: calc(100% - 30px);
  }

  .method-pay__inner-tab {
    flex-direction: column;
  }

  .method h3 {
    font-size: 48px;
    text-align: center;
    margin: 0 0 35px 0;
  }

  .method__item {
    padding: 15px;
  }

  .method__content {
    padding: 70px 60px;
  }

  .method__item span {
    font-size: 18px;
    margin: 0 auto 30px;
  }

  .method__item-box {
    margin: 0 0 25px 0;
  }

  .method__img {
    max-width: 310px;
    margin: -95px auto 0;
  }

  .delibvery-box__item h6 {
    font-size: 32px;
    margin: 0 0 30px 0;
  }

  .delibvery-box__item {
    margin: 0 0 30px 30px;
    padding: 25px;
  }

  .delibvery-box__item p {
    font-size: 16px;
  }

  .delibvery-box__item-box {
    margin: 0 0 25px 0;
  }

  .delibvery-box__item li {
    padding: 0 0 0 30px;
    margin: 0 0 10px 0;
    font-size: 16px;
  }

  .method-pay h3 {
    margin: 0 0 25px 0;
    font-size: 48px;
    text-align: center;
  }

  .delibvery-box__inner {
    margin: 0 0 0 -30px;
  }

  .delibvery-box {
    padding: 45px 0 20px;
  }

  .method-pay {
    padding: 25px 0 45px;
  }

  .method-pay__btn {
    font-size: 18px;
    border-radius: 20px;
  }

  .method-pay__buttons {
    margin: 0 0 25px 0;
  }

  .method-pay__item span {
    margin: 0px 0 10px 0;
  }

  .method-pay__item p {
    margin: 0 0 10px 0;
    font-size: 16px;
  }

  .contacts__top {
    flex-direction: column;
  }

  .contacts__top-left {
    max-width: 100%;
    margin: 0 0 30px 0;
  }

  .contacts__inner {
    flex-direction: column-reverse;
  }

  .contacts__right {
    max-width: 100%;
    margin: 0 0 30px 0;
  }

  .contacts__top h1 {
    font-size: 48px;
  }

  .contacts__top p {
    margin: 0 0 15px 0;
    font-size: 18px;
  }

  .contacts__right h3 {
    font-size: 32px;
    margin: 0 0 15px 0;
  }

  .contacts__right p {
    font-size: 16px;
    margin: 0 0 35px 0;
  }

  .contacts__right {
    .form__input-wrap {
      margin: 0 0 15px 0;
    }
  }


}

@media (max-width: 576px) {
  .contacts__top-right {
    padding: 0;
  }

  .carddd__img {
    margin: 0 0 15px 0;
  }

  .carddd__content {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .carddd h3 {
    width: 70%;
    padding: 0 10px 0 0;
    font-size: 18px;
  }

  .carddd__price {
    width: 30%;
    font-size: 16px;
    text-align: right;
  }

  .menu-page__title {
    font-size: 18px;
    margin: 0 0 20px 0;
  }

  .header__inner {
    flex-wrap: wrap;
  }

  .header__search {
    margin: 5px 0 0 0;
    order: 1;
    max-width: 100%;
  }

  .header__logo {
    width: 50px;
  }

  .header__menu-btn {
    margin: 0 10px 0 0;
  }

  .header__adress {
    margin: 0 0 0 auto;
  }

  .header__inner {
    margin: 20px 0 0 0;
    height: 120px;
  }

  .breadcrumbs {
    margin: 25px 0 15px;
  }

  .swiper-button-next,
  .swiper-button-prev,
  .type-slider::after,
  .type-slider::before {
    display: none;
  }

  .type-slider {
    padding: 0;
    margin: 0px 0 40px;
    height: fit-content;
  }

  .type-slider button {
    font-size: 18px;
    padding: 0 10px;
    height: 30px;

    svg {
      width: 15px;
      height: 15px;
    }
  }

  .products__filters-two {
    font-size: 0;
  }

  .products__filter .select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 16px;
  }

  .products__filter img {
    margin: 0;
  }

  .products__list {
    flex-wrap: nowrap;
  }

  .products__list .card {
    margin: 0;
  }

  .products {
    overflow: hidden;

    .card {
      min-height: 335px;
    }
  }

  .products .mySwiper {
    margin: 0;
    overflow: visible;
  }

  .card h3 {
    font-size: 32px;
    margin: 0 0 5px 0;
  }

  .pagination {
    margin: 25px 0 0 0;
  }

  .pagination a,
  .pagination span {
    width: 32px;
    height: 32px;
  }

  .pagination li+li {
    margin-left: 15px;
  }

  .info__text {
    margin: 0 0 15px 0;
    -ms-line-clamp: 5;
    -webkit-line-clamp: 5;
    line-clamp: 5;
  }

  .menu {
    top: 140px;
    min-height: auto;

    .header__languege-child {
      display: none;
    }
  }

  .shop-intro .swiper-button-prev,
  .shop-intro .swiper-button-next {
    display: none;
  }

  .shop-intro h3 {
    margin: 0;
  }

  .productt__slider .swiper-slide,
  .productt__slider-two .swiper-slide {
    flex-direction: column;
  }

  .productt {
    overflow: hidden;
  }

  .productt__right {
    overflow: visible;
  }

  .productt__slider-img {
    margin: 0 0 10px 0;
    height: 50px;
    width: 50px;
  }

  .productt__slider .swiper-slide,
  .productt__slider-two .swiper-slide {
    padding: 15px;
  }

  .productt__slider-calc {
    margin: 0;
    width: 100%;
  }

  .productt__slider .cardd__calc-wrap,
  .productt__slider-two .cardd__calc-wrap {
    width: 100%;
  }

  .page-error__img svg {
    width: 40px;
    height: 40px;
  }

  .link-back__page {
    padding: 45px 0 15px;
  }

  .page-error__img {
    margin: 0 0 15px 0;
  }

  .page-error__inner {
    padding: 25px 0;
  }

  .page-error p {
    font-size: 32px;
  }

  .page-error span {
    font-size: 18px;
    margin: 0 0 15px 0;
  }

  .bascet-box svg {
    width: 80px;
    height: 80px;
  }

  .bascet-box p {
    font-size: 18px;
  }

  .bascet-box__inner {
    padding: 25px;
  }

  .bascet-box {
    margin: 20px 0 35px;
  }

  .recomendation__top {
    flex-direction: column;
  }

  .recomendation__top h3 {
    margin: 0 0 20px 0 !important;
  }

  .form h3 {
    max-width: 300px;
    margin: 0 auto 20px;
    font-size: 32px;
    text-align: center;
  }

  .form__item:nth-child(4) {
    margin: 0 0 50px 0;
    flex-direction: column;
    text-align: center;

    p {
      margin: 0 0 20px 0;
    }
  }

  .form h4 {
    font-size: 32px;
    text-align: center;
    margin: 45px 0 35px;
  }

  .form__item span {
    font-size: 18px;
  }

  .form__item strong {
    font-size: 18px;
  }

  .form__item {
    color: #3e3e3e;
    margin: 0 0 25px 0;
  }

  .form__item-pay strong {
    font-size: 18px;
  }

  .form__item-pay {
    margin: 15px 0 10px;
    padding: 10px;
  }

  .form__sum-pay {
    font-size: 18px;
  }

  .form__item-pay+.btn {
    max-width: 100%;
    width: 100%;
  }

  .done-cash__inner {
    padding: 15px 25px;
  }

  .done-cash__user {
    font-size: 32px;
    margin: 0 0 15px 0;
  }

  .done-cash p {
    font-size: 16px;
    margin: 0 0 30px 0;
  }

  .done-cash p a {
    display: block;
    font-size: 16px;
  }

  .done-cash__info {
    flex-wrap: wrap;
  }

  .done-cash__num {
    margin: 0 0 20px 0;
    width: 100%;
  }

  .done-cash__date,
  .done-cash__info,
  .done-cash__clock {
    font-size: 18px;
  }

  .modal {
    padding: 60px 25px;
  }

  .modal__buttons {
    flex-direction: column;
    border-radius: 20px;
  }

  .modal__btn {
    width: 100%;
    border-radius: 30px;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 15px;
  }

  .modal__btn+.modal__btn {
    margin: 20px 0 0 0;
  }

  .fancybox-slide--html .fancybox-close-small {
    top: 20px;
    right: 20px;
  }

  .modal p {
    font-size: 18px;
  }

  .checkout-img {
    width: 95px;
  }

  .checkout p {
    margin: 0 0 25px 0;
    font-size: 18px;
  }

  .checkout {
    .basket-full__item {
      padding: 10px;
    }

    .basket-full__img {
      margin: 0 15px 0 0;
      width: 65px;
      height: 65px;
    }

    .basket-full__item h6 {
      max-width: 195px;
    }
  }

  .checkout .basket-full__item .cardd__calc-wrap {
    margin: 0;
  }

  .checkout .basket-full__item-col {
    width: 100%;
  }

  .checkout__bottom-item,
  .checkout__right-item {
    font-size: 16px;
    margin: 0 0 10px 0;
  }

  .checkout__right-box {
    margin: 0 0 35px 0;
  }

  .done-cash svg {
    width: 50px;
    height: 50px;
    margin: 0 0 10px 0;
  }

  .done-cash p {
    margin: 0 0 15px 0;
  }

  .done-cash__num {
    font-size: 16px;
  }

  .done-cash__link {
    margin: 15px 0 0 0;
  }

  .modal strong {
    font-size: 18px;
    margin: 0 0 25px 0;
  }

  .sticky {
    .header__inner {
      height: 80px !important;
    }

    .header__search {
      display: none !important;
    }

    .menu {
      top: 90px !important;
    }
  }

  .margin-top {
    margin: 180px 0 0 0;
  }

  .page-404 {
    background-image: url("../images/dest/content/mob-404.png");
    background-size: 100%;
    min-height: 710px;
  }

  .carddd__inner {
    flex-direction: column-reverse;
  }

  .carddd__img {
    max-width: 100%;
    height: 125px;
  }

  .blog-types__list .articl {
    width: calc(100% - 30px);
  }

  .contacts__top-cloud {
    display: none;
  }



}

@media (max-width: 375px) {
  .header__mark {
    display: none !important;
  }


}