@import "global";
@import "fonts";
@import "select";
@import "pagination";
@import "btns";
@import "list";

/*start header=========================*/
.header {
  position: relative;
  z-index: 999;
  background-color: #FFFFF5;

  &__inner {
    display: flex;
    align-items: center;
    margin: 30px 0 0 0;
    height: 105px;
  }

  &__menu-btn {
    margin: 0 30px 0 0;
    padding: 0;
    display: block;
    width: 28px;
    height: 18px;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: none;
    flex-shrink: 0;
    z-index: 9999;

    span {
      margin: 0 0 0 auto;
      display: block;
      width: 100%;
      height: 2px;
      background-color: #3E3E3E;
      transition: linear .2s;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #3E3E3E;
      transition: linear .2s;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #3E3E3E;
      transition: linear .2s;
    }
  }

  &__menu-btn.open {
    &::before {
      top: 8px;
      transform: rotate(45deg);
    }

    span {
      transform: rotate(45deg);
      opacity: 0;
    }

    &::after {
      bottom: 8px;
      transform: rotate(-45deg);
    }
  }

  &__logo {
    margin: 0 45px 0 0;
    width: 80px;
    min-width: 50px;
    height: auto;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__search {
    margin: 0 75px 0 0;
    position: relative;
    max-width: 465px;
    width: 100%;

    input {
      width: 100%;
      height: 38px;
      padding: 8px 40px 8px 15px;
      border-radius: 30px;
      background-color: #f7f7f8;
      border: none;
      font-size: 18px;
    }

    input::placeholder {
      color: #E1E1E1;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      background-color: #61B291;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 5px;
      border-radius: 50%;
    }
  }

  &__adress {
    margin: 0 15px 0 0;
    display: flex;
    align-items: center;
  }

  &__mark {
    margin: 0 8px 0 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7F7F8;
  }

  p {
    margin: 0 0 8px 0;
    color: rgb(62, 62, 62);
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
  }

  span {
    color: rgb(62, 62, 62);
    font-size: 14px;
    font-weight: 300;
    line-height: 120%;
  }

  &__basket,
  &__enter {
    padding: 10px;
    display: flex;
    align-items: center;
    height: 40px;
    color: rgb(62, 62, 62);
    font-size: 16px;
    font-weight: 300;
    line-height: 120%;
    border-radius: 30px;
    background: rgb(247, 247, 248);
    border: 1px solid transparent;
    transition: linear .2s;

    svg {
      margin: 0 9px 0 0;

      path {
        transition: linear .2s;
      }
    }

    &:hover {
      svg path {
        fill: #61B291;
      }

      border-color: #61B291;
      color: #61B291;
    }
  }

  &__basket {
    margin: 0 25px 0 auto;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 0 0 8px;
      color: #fffff5;
      font-size: 12px;
      font-weight: 400;
      line-height: 100%;
      width: fit-content;
      height: 17px;
      min-width: 17px;
      border-radius: 50%;
      background-color: #61B291;
    }
  }

  nav {
    ul {
      display: flex;
    }

    a {
      color: #3e3e3e;
      font-size: 18px;
      font-weight: 500;
      line-height: 120%;
      text-decoration: underline;
      text-decoration-color: transparent;
      transition: linear .2s;

      &:hover {
        text-decoration-color: #3e3e3e;
      }
    }

    li+li {
      margin: 0 0 0 25px;
    }
  }

  &--main {
    .header__menu-btn {
      display: none;
    }

    .header__languege {
      margin: 0 0 0 auto;
    }

    .social {
      a {
        background-color: transparent !important;

        &:hover {
          svg path {
            fill: #61B291;
          }
        }
      }
    }
  }

}

.header.sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  z-index: 999;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.15);

  .header__inner {
    margin: 10px 0 0 0;
  }

  .menu {
    top: 115px;
  }
}

.margin-top {
  margin: 180px 0 0 0;
}

/*end header=========================*/

.menu.active {
  transform: translateX(0);
  opacity: 1;
}

.menu {
  padding: 0 0 4rem;
  margin: 0;
  position: fixed;
  top: 135px;
  right: 0;
  bottom: auto;
  left: 0;
  width: 100%;
  min-height: 500px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  transform: translateX(-100%);
  transition: linear .5s;
  overflow: auto;
  background-color: #FFFFF5;
  opacity: 0;

  h5 {
    color: #3e3e3e;
    font-size: 24px !important;
    font-weight: 500;
    line-height: 120%;
    margin: 0 0 25px 0;
  }

  .footer__mid {
    margin: 48px 0 0 0;
    padding: 48px 0 24px;
    border-top: 1px solid #D9D9D9;
  }

  .header__languege {
    margin: 0 0 0 auto;
  }

  .footer__soc {
    margin: 0;
  }
}

/*end menu==========*/

/*start products==================*/

.type-slider {
  margin: 40px 0 40px;
  position: relative;
  overflow: hidden;
  height: 45px;
  padding: 0 50px;

  button {
    padding: 0;
    display: flex;
    align-items: center;
    color: #3e3e3e;
    font-family: "Marck Script", cursive;
    font-size: 24px;
    font-weight: 400;
    line-height: 120%;
    padding: 9.5px 14px 9.5px 10px;
    border-radius: 12px;
    transition: linear .2s;
    white-space: nowrap;
    margin: 0 auto;

    svg {
      margin: 0 15px 0 0;
    }
  }

  button.active {
    background: rgb(212, 240, 192);
  }

  .swiper-slide {
    display: flex;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 40px;
    bottom: 0;
    background-color: #FFFFF5;
    z-index: 2;
  }

  &::before {
    content: "";
    position: absolute;
    right: 0;
    height: 100%;
    width: 40px;
    bottom: 0;
    background-color: #FFFFF5;
    z-index: 2;
  }
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  z-index: 10;
  bottom: 2.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #75C6A5;
  border-radius: 50%;
  background-color: #61B291;
  transition: linear .2s;

  svg {
    width: 20px;
    height: 15px;

    path {
      stroke: #fff;
      transition: linear .2s;
    }
  }

  &::after {
    display: none;
  }

  &:hover {
    background-color: #fff;

    path {
      stroke: #75C6A5;
    }
  }
}

.swiper-button-disabled {
  background-color: #fff;
  opacity: 1 !important;

  path {
    stroke: #75C6A5 !important;
  }
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.products {
  padding: 0 0 44px 0;

  &__filters {
    margin: 0 0 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__filter {
    margin: 0 15px 0 0;

    img {
      margin: 0 0 0 10px;
    }

    display: flex;
    align-items: center;
    position: relative;
  }

  &__filters-two {
    display: flex;
    align-items: center;

    img {
      margin: 0 10px 0 0;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .mySwiper {
    padding: 15px 0 0 0;
    margin: -15px 0 0 -30px;
  }
}

/*end products==================*/

/*start card=====================*/
.products__list .card {
  width: calc(33.33333% - 30px);
  margin: 0 0 30px 30px;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 15px 0 0 0;
  border-radius: 35px;
  background-color: #b7d8a1;
  position: relative;
  height: auto;

  .sticker {
    left: 50%;
    transform: translateX(-50%);
  }

  h3 {
    margin: 0 0 10px 0;
    color: #fff;
    font-family: "Marck Script", cursive;
    font-size: 40px;
    font-weight: 400;
    line-height: 100%;
    text-align: center;
  }

  p {
    padding: 0 15px;
    margin: 0 0 5px 0;
    color: #fffff5;
    font-family: "Marck Script", cursive;
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    text-align: center;
  }

  button {
    padding: 12px 16px;
    display: flex;
    align-items: center;
    color: #3e3e3e;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    border-radius: 12px;
    background: #ffefa7;
    width: fit-content;
    display: flex;
    margin: 0 auto 17px;
    transition: linear .2s;

    svg {
      margin: 0 10px 0 0;
    }

    &:hover {
      transform: translate(-2px, -2px);
    }
  }

  &__img {
    width: 100%;
    max-height: 353.5px;
    margin: auto 0 -7px 0;
    border-radius: 0 0 35px 35px;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
}

/*end card=====================*/

/*start info==============*/
.info {
  padding: 44px 0 64px 0;

  &__text {
    margin: 0 0 15px 0;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    -ms-line-clamp: 3;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    display: -webkit-box;
    display: box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;
  }

  &__text.open {
    -ms-line-clamp: 1000;
    -webkit-line-clamp: 1000;
    line-clamp: 1000;
  }

  &__text.open+.btn {
    display: none;
  }

  p {
    margin: 0 0 10px 0;
    color: #3e3e3e;
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
  }
}

/*end info==============*/

/*start main-box================*/
.main-img {
  padding: 30px 0 50px;

  img {
    display: block;
    margin: 0 auto;
    width: 254px;
    height: auto;
    object-fit: contain;
  }
}

.main-box {
  padding: 0 0 20px 0;

  &__inner {
    display: flex;
    margin: 0 0 0 -30px;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    justify-content: center;
    height: 580px;
    align-items: center;
    width: calc(50% - 30px);
    margin: 0 0 0 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__content {
    position: relative;
    max-width: 280px;
    width: 100%;
    background-color: #FFFFF5;
    border-radius: 200px;
    padding: 100px 35px 75px;
    text-align: center;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 55px;
      width: 20px;
      height: 20px;
      background-color: #75c6a5;
      border-radius: 50%;
    }

    &::before {
      content: "";
      position: absolute;
      background-image: url("../images/dest/content/card-before.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center;
      top: 15px;
      left: 15px;
      bottom: 15px;
      right: 15px;
      height: calc(100% - 30px);
      width: calc(100% - 30px);
    }
  }

  h3 {
    margin: 0 0 25px 0;
    color: #3e3e3e;
    font-family: "Marck Script", cursive;
    font-size: 40px;
    font-weight: 400;
    line-height: 100%;

  }

  .btn {
    margin: 0 0 28px 0;
    position: relative;
    z-index: 1;
  }

  &__link {
    display: block;
    margin: 0 0 45px 0;
    transition: linear .2s;
    position: relative;
    z-index: 1;

    &:hover {
      color: #61B291;
    }
  }

  p {
    display: flex;
    align-items: center;
    color: #3e3e3e;
    font-size: 14px;
    font-weight: 300;
    line-height: 120%;

    svg {
      margin: 0 5px 0 0;
    }
  }
}

/*end main-box================*/

/*start shop-intro==================*/
.shop-intro {
  padding: 45px 0 50px;

  &__slider {
    position: relative;
    color: #fffff5;
    font-weight: 400;
    min-height: 540px;
  }

  .container {
    width: auto;
  }

  .swiper-slide {
    padding: 165px 0 215px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f8;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid #75C6A5;
      background-color: #75C6A5;
      transition: linear .2s;
    }

    &:hover {
      span {
        background-color: #f7f7f8;
      }
    }
  }

  .swiper-button-next {
    right: calc((100vw - 1210px) / 2);
  }

  .swiper-button-prev {
    left: calc((100vw - 1210px) / 2);
  }

  .swiper-pagination {
    bottom: -50px;
  }

  .swiper-pagination-bullet {
    padding: 0;
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid #61B291;
    background-color: transparent;
    cursor: pointer;
    transition: linear .2s;
    opacity: 1;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #61B291;
      transition: linear .2s;
      opacity: 0;
    }
  }

  .swiper-pagination-bullet-active::before {
    opacity: 1;
  }

  h3 {
    margin: 0 0 15px 0;
    font-family: "Marck Script", cursive;
    font-size: 56px;
    line-height: 100%;
  }

  p {
    font-size: 18px;
    line-height: 120%;
    max-width: 415px;
    width: 100%;
    margin: 0 auto;
  }

  .swiper-pagination {
    position: absolute;
  }
}

/*end shop-intro==================*/

/*start preference========================*/
.preference {
  padding: 5px 0 40px;

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 0 0 -70px;

    li {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 0 0 30px 70px;
      width: calc(20% - 70px);
      text-align: center;

      p {
        color: #3e3e3e;
        font-size: 18px;
        font-weight: 400;
        line-height: 120%;
      }
    }
  }

  &__list-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #F7F7F8;
  }
}

/*end preference========================*/

/*start catalog===================*/
.catalog {
  padding: 40px 0 65px;

  h2 {
    margin: 0 0 50px 0;
    color: #3e3e3e;
    font-family: "Marck Script", cursive;
    font-size: 40px;
    font-weight: 400;
    line-height: 100%;
    text-align: center;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__left {
    padding: 0 25px;
    max-width: 375px;
    width: 100%;

    a {
      svg {
        margin: 0 15px 0 0;
      }

      font-family: "Marck Script",
      cursive;
      color: #3e3e3e;
      font-size: 24px;
      font-weight: 400;
      line-height: 120%;
      padding: 10px 10px 10px 65px;
      display: flex;
      align-items: center;
      border-radius: 12px;
      height: 75px;
      transition: linear .2s;

      &:hover {
        background-color: #d4f0c0;
      }
    }

    a.active {
      background-color: #d4f0c0;
    }
  }

  &__right {
    max-width: 785px;
    width: 100%;
  }

  &__filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__box {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 0 0 -30px;
  }

  .cardd {
    width: calc(50% - 30px);
    margin: 0 0 45px 30px;
  }

  .btn {
    margin: 0 auto 20px;
  }

  .type-slider {
    display: none;
  }
}

/*end catalog===================*/

/*start cardd==========*/
.cardd {
  position: relative;

  .sticker {
    left: 30px;
  }

  &__img {
    padding: 30px;
    height: 275px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 0 15px 0;

    h4 {
      color: #fffff5;
      font-size: 24px;
      font-weight: 500;
      line-height: 120%;
    }

    span {
      display: block;
      padding: 5px 15px;
      color: #3e3e3e;
      font-size: 18px;
      font-weight: 400;
      line-height: 120%;
      letter-spacing: 0%;
      border-radius: 30px;
      background: #f7f7f8;
      width: fit-content;
    }
  }

  p {
    padding: 0 15px 0 10px;
    color: #3e3e3e;
    font-size: 16px;
    font-weight: 300;
    line-height: 120%;
    margin: 0 0 25px 0;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    -ms-line-clamp: 2;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    display: -webkit-box;
    display: box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__calc-wrap {
    position: relative;
    margin: 0 15px 0 0;
    padding: 10px 35px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 175px;
    width: 100%;
    background-color: #F7F7F8;
    border-radius: 12px;

    &>span {
      display: flex;
      margin: 0 auto;
      text-align: center;
    }
  }

  &__minus {
    padding: 5px;
    cursor: pointer;
    position: absolute;
    left: 15px;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: #61B291;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 8px;
        height: 1px;
        border-radius: 10px;
        background-color: #F7F7F8;
      }
    }
  }

  &__plus {
    padding: 5px;
    position: absolute;
    right: 15px;
    margin: 0 0 0 auto;
    cursor: pointer;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: #61B291;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 8px;
        height: 1px;
        border-radius: 10px;
        background-color: #F7F7F8;
      }

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1px;
        border-radius: 10px;
        height: 8px;
        background-color: #F7F7F8;
      }
    }
  }

  &__price {
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 175px;
    width: 100%;
    padding: 10px;
    border-radius: 12px;
    background: #ffefa7;

    svg {
      margin: 0 10px 0 0;
    }

    .sticker {
      left: auto;
      right: 0;
      white-space: nowrap;
      text-decoration: line-through;
    }
  }
}

/*end cardd==========*/

/*start delivery============*/
.delivery {
  padding: 65px 0 85px;

  h3 {
    margin: 0 0 50px 0;
    color: #3e3e3e;
    font-family: "Marck Script", cursive;
    font-size: 40px;
    font-weight: 400;
    line-height: 100%;
    text-align: center;
  }

  &__line {
    margin: 0 0 20px 0;
    position: relative;
    display: flex;
    justify-content: space-between;

    &>span {
      position: absolute;
      bottom: 20px;
      display: block;
      width: 100%;
      height: 1px;
      background-color: rgb(117, 198, 165);
      opacity: 0.3;
      z-index: -1;
    }
  }

  &__line-item {
    padding: 0 85px;
    color: #3e3e3e;
    font-size: 24px;
    font-weight: 500;
    line-height: 120%;
    text-align: center;

    span {
      position: relative;
      display: block;
      border: 2px solid #ffefa7;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      text-align: center;
      margin: 0 auto;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background-color: #ffefa7;
      }
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left {
    max-width: 315px;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__mid {
    max-width: 265px;
    width: 100%;
    flex-shrink: 0;
    margin: 0 20px;
  }

  &__item {
    display: flex;
    margin: 0 0 30px 0;
  }

  &__img {
    flex-shrink: 0;
    margin: 0 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: #f7f7f8;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }


  p {
    margin: 0 0 10px 0;
    color: #3e3e3e;
    font-size: 24px;
    font-weight: 500;
    line-height: 120%;
  }

  span {
    color: #3e3e3e;
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
  }

  &__right {
    max-width: 375px;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

}

/*end delivery============*/

/*start productt==============*/
.productt {
  padding: 30px 0 70px;

  &__inner {
    display: flex;
  }

  &__img {
    max-width: 555px;
    width: 100%;
    height: 720px;
    margin: 0 55px 0 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__right {
    overflow: hidden;
    max-width: 580px;
    width: 100%;

    h3 {
      margin: 0 0 25px 0;
      color: #3e3e3e;
      font-family: "Marck Script", cursive;
      font-size: 56px;
      font-weight: 400;
      line-height: 100%;
    }
  }

  &__stickers-wrap {
    margin: 0 0 35px 0;
    display: flex;
    flex-wrap: wrap;

    li {
      margin: 10px 15px 0 0;
      padding: 12px 15px;
      height: 25px;
      position: static;
      color: #fffff5;
      font-size: 16px;
      font-weight: 500;
      line-height: 120%;
    }
  }

  &__buttons {
    margin: 0 0 25px 0;
    padding: 8px;
    display: flex;
    border: 1px solid rgb(62, 62, 62);
    border-radius: 20px;
    max-width: 420px;
    width: 100%;
  }

  &__btn {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    height: 45px;
    width: 50%;
    border-radius: 15px;
    font-family: "Marck Script", cursive;
    transition: linear .2s;

    svg {
      margin: 0 10px 0 0;
    }
  }

  &__btn.active {
    background-color: #D4F0C0;
  }

  &__item {
    p {
      margin: 0 0 30px 0;
      color: #3e3e3e;
      font-size: 16px;
      font-weight: 300;
      line-height: 120%;
    }
  }

  &__allergens {
    display: flex;
    margin: 0 0 0 -15px;

    li {
      margin: 0 0 0 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      background-color: #D4F0C0;
      border-radius: 50%;
    }
  }

  &__weight {
    margin: 0 0 25px 0;
    display: flex;
    align-items: center;
    color: #3e3e3e;
    font-size: 18px;
    font-weight: 500;
    line-height: 120%;

    svg {
      margin: 0 5px 0 0;
    }
  }

  .cardd__bottom {
    margin: 0 0 30px 0;

    .cardd__calc-wrap {
      max-width: 50%;
    }

    .cardd__price {
      max-width: 50%;
    }
  }

  &__send {
    margin: 0 0 30px 0;
    display: flex;
    align-items: center;

    svg {
      margin: 0 10px 0 0;
    }
  }

  &__box {
    p {
      margin: 0 0 5px 0;
      color: #3e3e3e;
      font-size: 18px;
      font-weight: 500;
      line-height: 120%;
    }

    a {
      display: flex;
      align-items: center;
      color: #3e3e3e;
      font-size: 16px;
      font-weight: 300;
      line-height: 120%;
      text-decoration: underline;
      text-decoration-color: transparent;
      transition: linear .2s;

      &:hover {
        text-decoration-color: #3e3e3e;
      }
    }

    svg {
      margin: 0 0 0 5px;
    }
  }

  &__box-slider {
    h6 {
      padding: 0 80px 0 0;
      margin: 0 0 20px 0;
      color: #3e3e3e;
      font-size: 18px;
      font-weight: 500;
      line-height: 120%;
    }
  }

  &__slider {
    width: 100%;
    position: relative;

    .cardd__calc-wrap {
      box-sizing: border-box;
      width: 150px;
      margin: 0;
      padding: 10px 25px;
      margin: 0 0 20px 0;
    }

    .swiper-slide {
      box-sizing: border-box;
      width: 100%;
      padding: 25px;
      display: flex;
      align-items: center;
      border-radius: 25px;
      background: #f7f7f8;
    }
  }

  &__slider-img {
    width: 60px;
    height: 60px;
    border-radius: 15px;
    margin: 0 15px 0 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__slider-info {
    color: #3e3e3e;

    h5 {
      margin: 0 0 10px 0;
      font-size: 16px;
      font-weight: 500;
      line-height: 120%;
    }

    p {
      margin: 0;
      font-size: 14px;
      font-weight: 300;
      line-height: 120%;
    }
  }

  &__slider-calc {
    margin: 0 0 0 auto;
    display: flex;
    flex-direction: column;
  }

  &__slider-price {
    padding: 12px 15px;
    position: relative;
    border-radius: 12px;
    background: rgb(97, 178, 145);
    display: flex;
    justify-content: space-between;
    color: #fffff5;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;

    .sticker {
      left: auto;
      right: 0;
      text-decoration: line-through;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: flex !important;
    position: absolute;
    top: -25px;
    width: 25px;
    height: 25px;
    background-color: #F7F7F8;
    border: none;

    svg path {
      stroke: #3e3e3e;
    }
  }

  .swiper-button-prev {
    right: 50px;
    left: auto;
  }
}

.productt__slider-two {
  .swiper-slide {
    box-sizing: border-box;
    width: 100%;
    padding: 25px;
    display: flex;
    align-items: center;
    border-radius: 25px;
    background: #f7f7f8;
  }

  .cardd__calc-wrap {
    box-sizing: border-box;
    width: 150px;
    margin: 0;
    padding: 10px 25px;
    margin: 0 0 20px 0;
  }
}

/*end productt==============*/

/*start recomendation===============*/
.recomendation {
  padding: 65px 0 130px;
  overflow: hidden;

  &__top {
    margin: 0 0 60px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      margin: 0 !important;
    }

    a {
      color: #61b291;
      font-size: 16px;
      font-weight: 500;
      line-height: 120%;
      transition: linear .2s;

      &:hover {
        color: #3e3e3e;
      }
    }
  }

  h3 {
    margin: 0 0 60px 0;
    color: #3e3e3e;
    font-family: "Marck Script", cursive;
    font-size: 40px;
    font-weight: 400;
    line-height: 100%;
    text-align: center;
  }

  &__slider {
    position: relative;

    .swiper-button-next,
    .swiper-button-prev {
      display: flex !important;
      position: absolute;
      top: auto;
      bottom: -80px;
    }

    .swiper-button-next {
      right: calc(50% - 50px);
    }

    .swiper-button-prev {
      left: calc(50% - 50px);

    }
  }
}

/*end recomendation===============*/

/*start review===============*/
.review {
  padding: 130px 0 95px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__left {
    max-width: 680px;
    width: 100%;
    overflow: hidden;
    margin: 0 30px 0 0;
  }

  &__slider {
    position: relative;

    .swiper-button-next,
    .swiper-button-prev {
      display: flex !important;
    }

    p {
      margin: 0 0 30px 0;
      color: #3e3e3e;
      font-size: 18px;
      font-weight: 400;
      line-height: 120%;
    }
  }

  &__content {
    margin: 0 auto;
    max-width: 490px;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__user {
    width: 80px;
    height: 80px;
    border-radius: 30px;
    overflow: hidden;
    margin: 0 0 15px 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__user-name {
    margin: 0 0 25px 0;
    color: #3e3e3e;
    font-size: 24px;
    font-weight: 400;
    line-height: 120%;
  }

  .rateYo {
    margin: 0 0 30px 0;
  }

  &__imgs {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 -25px;
  }

  &__img {
    margin: 0 0 15px 25px;
    width: calc(33.33333% - 25px);
    height: 120px;
    border-radius: 30px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__right {
    max-width: 375px;
    width: 100%;
    text-align: center;

    h6 {
      margin: 0 0 10px 0;
      color: #3e3e3e;
      font-family: "Marck Script", cursive;
      font-size: 40px;
      font-weight: 400;
      line-height: 100%;
    }

    p {
      margin: 0 0 30px 0;
      color: #3e3e3e;
      font-size: 24px;
      font-weight: 400;
      line-height: 120%;
    }

    .rateYo-choice {
      margin: 0 auto 35px;
      opacity: .7;
    }
  }
}

/*end review===============*/

/*start form===================*/
.form-wrap {
  overflow: hidden;
}

.form {
  &__input-wrap {
    margin: 0 0 25px 0;
    display: flex;
    flex-direction: column;

    &--adress {
      position: relative;
      margin: 0 0 65px 0;

      input {
        padding: 15px 240px 15px 55px !important;
        color: #3e3e3e;
        font-size: 24px;
        font-weight: 400;
        line-height: 120%;

        &::placeholder {
          font-size: 24px;
          color: rgb(62, 62, 62);
          font-size: 24px;
          font-weight: 400;
          line-height: 120%;
        }
      }

      a.btn {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        margin: 0;
      }

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 15px;
        width: 19px;
        height: 24px;
        background-image: url("../images/dest/icons/mark.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

      }
    }
  }

  input {
    padding: 15px 25px;
    border-radius: 15px;
    background: rgb(247, 247, 248);
    width: 100%;
    height: 55px;
    border: none;

    &::placeholder {
      color: rgb(225, 225, 225);
    }
  }

  textarea {
    padding: 15px 25px;
    height: 130px;
    resize: none;
    width: 100%;
    border-radius: 15px;
    background: #f7f7f8;
    border: none;

    &::placeholder {
      color: rgb(225, 225, 225);
    }
  }

  &__sup {
    margin: 0 0 8px 0;
    text-align: left;
    color: #3e3e3e;
    font-size: 14px;
    font-weight: 300;
    line-height: 120%;
  }

  &__box {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .btn {
    max-width: 210px;
    width: 100%;
    margin: 0 15px 0 0;
  }

  h3 {
    margin: 0 0 25px 0;
    color: #3e3e3e;
    font-family: "Marck Script", cursive;
    font-size: 40px;
    font-weight: 400;
    line-height: 100%;
  }

  h4 {
    margin: 45px 0 55px;
    color: #3e3e3e;
    font-family: "Marck Script", cursive;
    font-size: 40px;
    font-weight: 400;
    line-height: 100%;
  }

  &__item {
    color: #3e3e3e;
    margin: 0 0 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      margin: 0;
      font-size: 24px;
      font-weight: 500;
      line-height: 120%;
    }

    a {
      color: #61b291;
      font-size: 16px;
      font-weight: 500;
      line-height: 120%;
    }

    span {
      font-size: 24px;
      font-weight: 400;
      line-height: 120%;
    }

    strong {
      font-size: 24px;
      font-weight: 600;
      line-height: 120%;
    }
  }

  &__item-sale {
    padding: 10px 15px;
    border-radius: 15px;
    background: #ecbbb5;
    color: #fffff5;
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
    text-align: center;
  }

  .productt__slider-two {

    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
  }

  &__item-pay {
    margin: 30px 0 30px;
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    background: #f7f7f8;

    strong {
      color: rgb(62, 62, 62);
      font-size: 24px;
      font-weight: 600;
      line-height: 120%;
    }
  }

  &__sum-pay {
    padding: 10px 15px;
    color: #fffff5;
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
    text-align: center;
    border-radius: 15px;
    background-color: rgb(97, 178, 145);
  }

  &__item-pay+.btn {
    margin: 0 0 40px auto;
  }

  h3+p {
    margin: 0 0 40px 0;
    color: #3e3e3e;
    font-size: 24px;
    font-weight: 500;
    line-height: 120%;
  }

  &__day,
  &__clock {
    margin: 0 0 25px 0;
    padding: 0 0 0 20px;

    ul {
      display: flex;
      flex-wrap: wrap;
    }

    span {
      margin: 0 0 15px 0;
      padding: 10px 15px;
      width: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #3e3e3e;
      font-size: 18px;
      font-weight: 500;
      line-height: 120%;
      border-radius: 10px;
      background-color: #f7f7f8;
    }

    li {
      padding: 10px 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 8px 8px 0 0;
      border: 1px solid rgb(62, 62, 62);
      border-radius: 30px;
      color: #3e3e3e;
      font-size: 16px;
      font-weight: 400;
      line-height: 120%;
      cursor: pointer;
      transition: linear .2s;
    }

    li.active {
      color: #61b291;
      border-color: #61b291;
      background-color: #f7f7f8;
    }
  }

  &__show {
    margin: 35px 0 0 0;
    color: #61b291;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
  }

  &__box-wrap {
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 80px 0 80px -30px;

    .form__input-wrap {
      margin: 0 0 0 30px;
      width: calc(50% - 30px);

      input {
        max-width: 290px;
      }
    }
  }

  &__radio {
    margin: 0 0 65px 0;
  }

  &__politic {
    margin: 0 0 20px auto;
    text-align: right !important;
    max-width: 600px;
    color: #3e3e3e;
    font-size: 12px;
    font-weight: 400;
    line-height: 100%;

    a {
      text-decoration: underline;
    }
  }

  &__box-input {
    display: flex;
    justify-content: space-between;

    .form__input-wrap {
      width: 48%;
    }
  }

  .cvv {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 20px;
      bottom: 15px;
      width: 24px;
      height: 22px;
      background-image: url("../images/dest/icons/cvv.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    input {
      padding: 15px 80px 15px 25px;
    }
  }

  &__watch {
    position: absolute;
    right: 50px;
    bottom: 15px;
    width: 24px;
    height: 22px;
    cursor: pointer;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: linear .2s;
    }
  }

  &__watch-two {
    opacity: 0;
  }

  &__watch.show {
    .form__watch-two {
      opacity: 1;
    }

    .form__watch-one {
      opacity: 0;
    }
  }

}

.basket-form {
  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__col {
    display: flex;
    flex-direction: column;
  }

  &__col:nth-child(1) {
    max-width: 440px;
    flex-grow: 1;
  }

  &__col:nth-child(2) {
    margin: 0 20px;
    max-width: 440px;

    .basket-form__label {
      margin: 0 0 15px 0;
    }
  }

  &__col:nth-child(3) {
    max-width: 440px;
    flex-grow: 1;
  }

  &__title {
    margin: 0 0 40px 0;
    font-family: 'Caviar Dreams';
    font-size: 25px;
    line-height: 30px;

    span {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -10px;
        width: 120%;
        height: 1px;
        background-color: #8374D5;
      }
    }

  }

  &__input-wrap {
    max-width: 440px;
    width: 100%;
    margin: 0 0 15px 0;

    input {
      border: 1px solid #944CA2;
      border-radius: 27px;
      width: 100%;
      padding: 15px 15px;
      width: 100%;

      &::placeholder {
        font-size: 16px;
        color: #0D030E;
      }
    }
  }

  &__radiowrap {
    margin: 0 0 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .basket-form__label+.basket-form__label {
      margin: 0 0 0 7px;
    }
  }

  &__select-wrap {
    margin: 0 0 15px 0;
    border: 1px solid #944CA2;
    border-radius: 27px;
    width: 100%;
    overflow: hidden;
  }

  select {
    width: 100%;
    padding: 15px 15px;
    width: 97%;
    outline: none;
    border: none;
  }

  &__label {

    display: flex;
  }

  &__radio {
    display: none;
  }

  &__check-fake {
    margin: 3px 0 0 0;
    position: relative;
    width: 15px;
    height: 15px;
    border: 2px solid #D3CAFF;
    border-radius: 50%;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: 2px;
      right: 2px;
      width: 7px;
      height: 7px;
      background-color: #944CA2;
      border-radius: 50%;
      opacity: 0;
    }
  }

  .basket-form__radio:checked+.basket-form__check-fake {
    border: 2px solid #944CA2;

    &::before {
      opacity: 1;
    }
  }

  &__check-text {
    font-size: 16px;
    cursor: pointer;
    margin: 0 0 0 15px;
  }

  &__textare-wrap {
    width: 100%;

    textarea {
      padding: 15px;
      border: 1px solid #944CA2;
      border-radius: 27px;
      width: 100%;
      resize: none;
      outline: none;
      height: 85px;
    }
  }

  &__bottom {
    margin: 45px 0 0 0;
  }

  &__btn {
    margin: 15px 0 0 0;
    border: none;
  }

  p {
    font-size: 12px;
    color: #868585;
  }

}

.label {
  margin: 0 0 25px 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.radio {
  display: none;
}

.fake {
  margin: 0 10px 0 0;
  position: relative;
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #61b291;
}

.fake::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #61b291;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  opacity: 0;
  transition: linear .2s;
}

.radio:checked+.fake::before {
  opacity: 1;
}

.text {
  color: #3e3e3e;
  font-size: 24px;
  font-weight: 400;
  line-height: 120%;
}

/*end form===================*/

/*start page-error==========*/
.page-error {
  &__inner {
    padding: 35px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    background: #f7f7f8;
  }

  &__img {
    margin: 0 0 25px 0;
  }

  p {
    margin: 0 0 20px 0;
    color: #3e3e3e;
    font-family: "Marck Script", cursive;
    font-size: 40px;
    font-weight: 400;
    line-height: 100%;
  }

  span {
    display: flex;
    margin: 0 0 30px 0;
    color: #3e3e3e;
    font-size: 24px;
    font-weight: 400;
    line-height: 120%;
  }
}

/*end page-error==========*/

/*start bascet-box=========*/
.bascet-box {
  margin: 20px 0 65px;

  &__inner {
    padding: 30px;
    border-radius: 30px;
    background: #f7f7f8;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  svg {
    margin: 0 0 25px 0;
  }

  p {
    margin: 0 0 25px 0;
    color: #3e3e3e;
    font-size: 24px;
    font-weight: 500;
    line-height: 120%;
    text-align: center;
  }
}

/*end bascet-box=========*/

/*start  basket-full=============*/
.basket-full {
  padding: 30px 0 65px;

  &__item {
    margin: 0 0 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    background-color: #f7f7f8;
    padding: 10px;
    color: #3e3e3e;
  }

  &__item-col,
  &__item-col-inner {
    display: flex;
    align-items: center;
  }

  &__img {
    margin: 0 15px 0 0;
    width: 65px;
    height: 65px;
    border-radius: 15px;
    overflow: hidden;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  h6 {
    margin: 0 65px 0 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 120%;
  }

  &__weight {
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    white-space: nowrap;

    &>span {
      margin: 0 60px 0 0;
    }
  }

  &__cost {
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    white-space: nowrap;
  }

  &__cost-two {
    margin: 0 15px 0 0;
    padding: 15px 25px;
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    white-space: nowrap;
    border-radius: 12px;
    background-color: #ffefa7;
  }

  .cardd__calc-wrap {
    width: 175px;
  }

  &__close {
    margin: 0 0 0 25px;
    position: relative;
    width: 30px;
    height: 30px;
    background-color: #61B291;
    border-radius: 50%;

    &::before,
    &::after {
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 1px;
      width: 70%;
      background-color: #fff;
      border-radius: 50%;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}

/*end  basket-full=============*/

/*start done-cash==============*/
.done-cash {
  &__inner {
    margin: 0 0 25px 0;
    padding: 30px;
    border-radius: 30px;
    background-color: #f7f7f8;
    color: #3e3e3e;
    text-align: center;
  }

  &__user {
    margin: 0 0 25px 0;
    font-family: "Marck Script", cursive;
    font-size: 40px;
    font-weight: 400;
    line-height: 100%;
  }

  p {
    margin: 0 0 30px 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 120%;

    a {
      color: #61b291;
      font-size: 24px;
      font-weight: 600;
      line-height: 120%;
    }
  }

  &__content {
    max-width: 620px;
    width: 100%;
    margin: 0 auto;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 120%;
  }

  &__num {
    padding: 10px 15px;
    border-radius: 15px;
    background-color: #b7d8a1;
    color: #fffff5;
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
  }

  &__date {
    margin: 0 15px;
    font-size: 24px;
    font-weight: 400;
    line-height: 120%;
  }

  &__clock {
    margin: 0 0 0 10px;
    font-size: 24px;
    font-weight: 400;
    line-height: 120%;
  }

  svg {
    margin: 0 0 20px 0;
  }

  &__link {
    display: flex;
    justify-content: center;
    margin: 35px 0 0;
    text-align: center;
    color: rgb(97, 178, 145);
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
  }

  a {
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: linear .2s;

    &:hover {
      text-decoration-color: rgb(97, 178, 145);
    }
  }

  &--done {
    .done-cash__content {
      max-width: 715px;
    }

    p {
      margin: 0 0 25px 0;
    }
  }
}

/*end done-cash==============*/

/*start checkout==============*/
.checkout-img {
  width: 150px;
  margin: 30px auto 40px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.checkout {
  &__inner {
    display: flex;
    justify-content: space-between;
  }

  p {
    margin: 0 0 25px 0;
    color: #3e3e3e;
    font-size: 24px;
    font-weight: 400;
    line-height: 120%;
  }

  &__left {
    margin: 0 30px 0 0;
    max-width: 580px;
    width: 100%;
  }

  &__left-bottom {
    padding: 25px 0 10px 0;
    border-top: 1px solid rgb(217, 217, 217);
  }

  &__bottom-item {
    margin: 0 0 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #3e3e3e;
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
  }

  &__bottom-item:last-child {
    font-weight: 500;
  }

  .basket-full__item {
    margin: 0 0 30px 0;

    h6 {
      max-width: 150px;
      font-weight: 400;
      font-size: 18px;
    }

    .cardd__calc-wrap {
      width: 170px;
    }
  }

  &__right {
    max-width: 480px;
    width: 100%;
  }

  &__right-box {
    margin: 0 0 50px 0;
    padding: 10px 15px;
    border-radius: 15px;
    background-color: rgb(247, 247, 248);
  }

  &__right-item {
    margin: 0 0 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(62, 62, 62);
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
  }

  .form .btn {
    max-width: 100%;
    width: 100%;
  }


}

/*end checkout==============*/









/*start modal==============*/
.modal {
  padding: 70px 30px;
  max-width: 765px;
  width: 100%;
  border-radius: 50px;
  background-color: #fffff5;

  .container {
    padding: 0;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    max-width: 450px;
    width: 100%;
    margin: 0 auto 45px;
    border-radius: 40px;
    background-color: #f7f7f8;
  }

  &__btn {
    width: 50%;
    border-radius: 30px;
    text-align: center;
    padding: 15px 20px;
    font-size: 24px;
    font-weight: 500;
    line-height: 120%;
    transition: linear .2s;
  }

  &__btn.active {
    background-color: #b7d8a1;
    color: rgb(255, 255, 245);
  }

  p {
    margin: 0 0 30px 0;
    color: rgb(62, 62, 62);
    font-size: 24px;
    font-weight: 400;
    line-height: 120%;
    text-align: center;
  }

  &__input-wrap {
    width: 100%;
    margin: 0 0 25px 0;

    input {
      padding: 10px 15px;
      width: 100%;
      border-radius: 20px;
      background-color: rgb(247, 247, 248);
      border: none;
      height: 40px;

      &::placeholder {
        color: rgb(225, 225, 225);
        font-size: 18px;
        font-weight: 400;
        line-height: 120%;
      }
    }
  }

  .btn {
    margin: 0 auto 30px;
  }

  &__map {
    position: relative;
    width: 100%;
    height: 400px;
    border-radius: 15px;
    overflow: hidden;
    background-color: #c9c2c2;
  }

  &__box {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    max-width: 200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .btn {
      margin: 0 10px 0 0;
    }
  }

  &__gps {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #fff;
  }

  strong {
    display: block;
    margin: 0 0 30px 0;
    color: rgb(62, 62, 62);
    font-size: 24px;
    font-weight: 500;
    line-height: 120%;
    text-align: center;
  }

  .btn {
    max-width: fit-content;
  }
}

.fancybox-slide--html .fancybox-close-small {
  top: 30px;
  right: 30px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #61B291;

  svg path {
    fill: #fff;
  }
}

/*end modal==============*/

/*start page-404==========*/
.page-404 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 1024px;
  padding: 50px 0 115px;
  background-color: rgb(212, 240, 192);
  background-image: url("../images/dest/content/desk-404.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;

  .container {
    height: 100%;
  }

  &__inner {

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    justify-content: flex-end;
  }

  p {
    max-width: 800px;
    margin: 0 auto 15px auto;
    color: #3e3e3e;
    font-size: 32px;
    font-weight: 500;
    line-height: 120%;
    text-align: center;
  }

  .btn {
    margin: 30px 0 0 0;
  }
}

/*end page-404==========*/

/*start menu-page==================*/
.menu-page {
  padding: 40px 0 40px;
  &__show{
    display: none;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__left-close{
    display: none;
  }
  &__left {
    max-width: 375px;
    width: 100%;
    margin: 0 15px 0 0;
    .btn{
      display: none;
    }
    blockquote {
      width: 150px;
      margin: 120px auto 0;

      img {
        display: block;
        width: 85px;
        object-fit: contain;
        margin: 0 auto 15px;
      }

      p {
        margin: 0 0 10px 0;
        color: #3e3e3e;
        font-family: "Marck Script", cursive;
        font-size: 16px;
        font-weight: 400;
        line-height: 120%;
        text-align: center;
      }

      span {
        display: block;
        text-align: right;
        color: #3e3e3e;
        font-family: "Marck Script", cursive;
        font-size: 14px;
        font-weight: 400;
        line-height: 120%;
      }
    }
  }

  &__left-title {
    margin: 0 0 30px 0;
    padding: 10px 15px;
    border-radius: 30px;
    background: #f7f7f8;
    color: #3e3e3e;
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    span{
      display: none;
    }
  }

  &__right {
    padding: 10px 0 0 0;
    max-width: 785px;
    width: 100%;
  }

  &__title {
    width: 100%;
    margin: 0 0 30px 0;
    padding: 10px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fffff5;
    font-family: "Marck Script", cursive;
    font-size: 24px;
    font-weight: 400;
    line-height: 120%;
    text-align: center;
    border-radius: 15px;
    background: #b7d8a1;
  }
  .products__filters {
    margin: 0 0 35px 0;
  }
  &__right-menu{
    display: none;
  }
}

/*end menu-page==================*/

/*start carddd=================*/
.carddd-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 0 0 -30px;

  .carddd {
    margin: 0 0 30px 30px;
    width: calc(50% - 30px);
  }
}

.carddd {
  padding: 25px;
  border-radius: 15px;
  box-shadow: 2px 1px 5px 0px rgba(107, 107, 107, 0.04), 8px 3px 9px 0px rgba(107, 107, 107, 0.03), 18px 7px 12px 0px rgba(107, 107, 107, 0.02), 33px 13px 14px 0px rgba(107, 107, 107, 0.01), 51px 20px 15px 0px rgba(107, 107, 107, 0);
  background-color: #fffff5;
  transition: linear .2s;
  &:hover{
    box-shadow: none;
  }

  &__inner {
    margin: 0 0 15px 0;
    display: flex;
    justify-content: space-between;
  }

  &__content {
    margin: 0 10px 0 0;
  }

  h3 {
    margin: 0 0 5px 0;
    color: #3e3e3e;
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
  }

  p {
    margin: 0;
    color: #3e3e3e;
    font-size: 14px;
    font-weight: 300;
    line-height: 120%;
  }

  &__price {
    margin: 0 0 15px 0;
    color: #61b291;
    font-size: 18px;
    font-weight: 500;
    line-height: 120%;
  }

  &__img {
    max-width: 115px;
    width: 100%;
    height: 125px;
    overflow: hidden;
    border-radius: 15px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__bottom {
    display: flex;
    flex-wrap: wrap;
  }

  &__weight,
  &__cal,
  &__inf {
    display: flex;
    align-items: center;
    margin: 10px 15px 0 0;
    color: #3e3e3e;
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;

    img {
      display: block;
      width: 15px;
      height: 15px;
      object-fit: contain;
      margin: 0 5px 0 0;
    }
  }
}

/*end carddd=================*/



/*start footer======================*/
.footer {
  padding: 64px 0 20px;

  &__top {
    display: flex;
    justify-content: space-between;

    .footer__col:nth-child(2) {
      margin: 0 5%;
    }
  }

  &__col {
    li {
      margin: 0 0 32px 0;
    }

    a {
      color: #3e3e3e;
      font-size: 18px;
      font-weight: 500;
      line-height: 120%;
      text-decoration: underline;
      text-decoration-color: transparent;
      transition: .2s linear;

      &:hover {
        text-decoration-color: #3e3e3e;
      }
    }
  }

  h5 {
    margin: 0 0 28px 0;
    color: #3e3e3e;
    font-size: 24px;
    font-weight: 500;
    line-height: 120%;
  }

  &__mid {
    display: flex;
    align-items: center;

    a {
      display: flex;
      align-items: center;
      color: #3e3e3e;
      font-size: 18px;
      font-weight: 500;
      line-height: 120%;
    }

    a:nth-child(2) {
      margin: 0 15px 0 15px;
    }
  }

  &__mid-box {
    display: flex;

    a:hover .footer__mid-img {
      background-color: #75C6A5;
    }
  }

  &__mid-img {
    margin: 0 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: #F7F7F8;
    border-radius: 50%;
    transition: linear .2s;

  }

  &__soc {
    margin: 0 0 0 auto;

    h5 {
      color: #3e3e3e;
      font-size: 24px;
      font-weight: 500;
      line-height: 120%;
    }
  }

  &__bot {
    color: #3e3e3e;
    font-size: 14px;
    font-weight: 300;
    line-height: 120%;

    p {
      display: flex;
      align-items: center;
    }
  }
}

/*end footer======================*/



















@import "media";